<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 24px;">
  <reset-form></reset-form>
  <a href="/login" 
    hx-get="/login" 
    hx-target="#content" 
    hx-swap="innerHTML"
    hx-push-url="true"
    style="font-size: 14px; font-weight: 400;">
    Remember password? Login here!
  </a>
</div>