<form action="api/v1/register" novalidate>
  <p class="message"></p>
  <fieldset>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </fieldset>
  <fieldset>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </fieldset>
  <button class="primary" type="submit">Create a new account</button>
  <a href="/login" class="nav-link">I already have an account</a>
</form>

<script>
document.addEventListener('DOMContentLoaded', () => {
  document.body.addEventListener('submit', async (event) => {
    const form = event.target.closest('form');
    const endpoint = form.getAttribute('action');
    if (form) {
      event.preventDefault();
      const data = Object.fromEntries(new FormData(form).entries());
  
      try {
        const response = await fetch(`http://localhost:3000/${endpoint}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        const result = await response.json();
        document.querySelector('.message').textContent = result.message;
      } catch (error) {
        console.log(error);
      }
    }
  });
});
</script>
