<title><%= title %></title>
<h1 style="font-size: 32px; color: var(--primary-color); margin-bottom: 16px;">Settings</h1>
<sl-tab-group>
  <sl-tab slot="nav" panel="general">Account</sl-tab>
  <sl-tab slot="nav" panel="custom" >Billing</sl-tab>
  <sl-tab slot="nav" panel="advanced">Security</sl-tab>

  <sl-tab-panel name="general">
    <general-settings-form user='<%- JSON.stringify(user) %>'></general-settings-form>
  </sl-tab-panel>
  <sl-tab-panel name="custom">
    
  </sl-tab-panel>
  <sl-tab-panel name="advanced">
    <security-settings-form user='<%- JSON.stringify(user) %>'></security-settings-form>
  </sl-tab-panel>
</sl-tab-group>

