/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed; 
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLOR PALETTE */

:root {
  --primary-color: #131517;
  --secondary-color: #e6ebf0;
  --text-color: #FFF;
  --background-color: #f9f9f9;
  --danger: #ef476f;
}

/* BUTTON */

button.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


a.auth {
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}


/* LAYOUT */

body#public {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

body#private {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
}

body#private main {
  height: 100vh;
  padding: 16px;
  border-left: 2px solid var(--primary-color);
}

body#public main  {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 2px solid silver;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

input:focus {
  border: 2px solid var(--primary-color);
}

fieldset {
  border: none;
}

form a {
  text-align: center;
  text-decoration: underline;
}

.message {
  text-align: center;
}


/* TABLE */

table {
  border: 2px solid var(--primary-color);
}

th {
  background-color: var(--secondary-color);
  text-align: left;
  padding: 10px;
}

td {
  background-color: var(--background-color);
  padding: 10px;
}
